<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cafes</title>
</head>
<body>
	<body>
		<h1>Cafes</h1>
	
		<ul>
			{% if cafes %}
				{% for cafe in cafes %}
					<li>
						{{ cafe[1] }} - {{ cafe[2] }}
						<a href="/delete_cafe/{{ cafe[0] }}">Delete</a>
					</li>
				{% endfor %}
			{% else %}
				<li>No cafes found</li>
			{% endif %}
		</ul>

    <form action="/add_cafe" method="post">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required>

        <label for="location">Location:</label>
        <input type="text" id="location" name="location" required>

        <button type="submit">Add Cafe</button>
    </form>
</body>
</html>